<html>

<head>
	<title>
		MINI | About
	</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	{% for message in get_flashed_messages() %}
	<h1>
		{{message}}
	</h1>
	{% endfor %}
	<div class=nav>
		<div class=margin>
			<h1>OTOCOAT</h1>
			<div class=link>
				<a href="/index" class=nl>Home</a>
				<a href="/about" class=nl>About</a>
				<a href = "/adash" class = nl>Dashboard</a>
				<a href="/contact" class=nl>Contact</a>
				<a href = "logout" class = nl>Logout</a>
			</div>
		</div>
	</div>
	<div class=margin>
		<h5>About Otocoat</h5>
		<p style=width:32%;float:left;>
			<font color=black>
				Otocoat is an online tool designed to calculate the Course Outcome Attainment Score in a manner that is easy, quick, and efficient.
						This tool is exclusively available for use by the faculty of Rajagiri School of Engineering and Technology. With Otocoat, faculty members can conveniently 
						assess and determine the level of achievement of course outcomes, streamlining the evaluation process and enabling them to gauge the effectiveness of their
						 teaching methodologies. By providing a user-friendly platform for assessing the attainment of course outcomes, Otocoat empowers the faculty at Rajagiri School 
						 of Engineering and Technology to make data-driven decisions, improve their teaching approaches, and enhance the
						  overall learning experience for their students.
						  Calculating the Course Outcome Attainment (CO) score has been a cumbersome process, but our visionary project aims to change that. With Otocoat, we are on a mission
						   to transform the evaluation process into a simple and quick one. Faculty members can now bid farewell to the hassles of traditional assessments and embrace a seamless
						    experience that saves time and effort. 
		</p>
		<p style=width:31.5%;float:left;padding-left:30;>
			Once logged in with their Rajagiri email ID, teachers gain access to a user-friendly interface that empowers them to choose the 
							class and evaluation method for which marks are to be entered. No more sifting through piles of paperwork; the details of students for that class, along with any already entered marks, are conveniently displayed. With just a few clicks, the teacher inputs the marks, 
							and voilà! The Course Outcome Attainment score is calculated and displayed, providing instant insights into student performance.
				But that's not all - Otocoat goes above and beyond, offering a comprehensive Total Course Outcome Calculation feature. Faculty members can access a holistic 
			view of the course outcome by exploring the contributions of four evaluation methods:<br><br>

1.Assignments<br><br>
2.Internal Marks<br><br>
3.Endsem Marks<br><br>
4.Course Feedback<br><br>


		</p>
		<p style=width:31%;float:left;padding-left:30;>
		Empowering faculty with data-driven decision-making, Otocoat leverages a robust formula for calculating the CO score:<br>
<br>CO Score = 20% * Indirect Assessment + 80% * Direct Assessment<br><br>
Here, the Indirect Assessment comprises valuable course feedback, while the Direct Assessment encompasses internal marks, assignment marks,
 and endsem marks. This well-balanced approach ensures a fair and accurate representation of each student's performance.
 Gone are the days of tedious manual calculations and frustrating evaluations. With Otocoat, faculty members can efficiently gauge the course
  outcome and student progress, enabling them to fine-tune their teaching methodologies and create an enriched learning experience.

Join us on this exciting journey as we revolutionize course outcome assessment at Rajagiri School of Engineering and Technology. Embrace the
 future of education with Otocoat - the ultimate tool for simplified, data-driven excellence!	
		</p>
		</font>
	</div>
	<div class=f>
		<center>COPYRIGHT&copy;
			right recieved from RSET
	</div>
</body>

</html>