
<html>
<head>
    <title>Assignment marks</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/style2.css">
</head>
<body>
    <div class=nav>
        <div class=margin>
            <h1>Otocoat</h1>
            <div class=link>
                <a href="/index" class=nl>Home</a>
                <a href="/about" class=nl>About</a>
                <a href="/login" class=nl>Log In</a>
                <a href="/signup" class=nl>Sign Up</a>
                <a href="/contact" class=nl>Contact</a>
                <a href = "/logout" class = nl>Logout</a>
            </div>
        </div>
    </div>
    <div class=margin>
       
    <h5>Assignment marks</h5>
    
    <form method="POST">
        <table>
            <tr>
				<th>Student uid</th>
                <th>Total score</th>
            </tr>
            {% for i in studentlist %}
                <tr>
                    <td>{{ i }}</td>
                    <td><input type="number" name="mark_{{ i }}" min = "0" max = "{{score}}" step = "0.5" \
						required></td>
                </tr>
            {% endfor %}
        </table>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>