
<html>
<head>
  <title>Assignment Details</title>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/style2.css">
</head>
<body>
  <div class=nav>
    <div class=margin>
      <h1>*NAME*</h1>
      <div class=link>
        <a href="/index" class=nl>Home</a>
        <a href="/about" class=nl>About</a>
        <a href="/login" class=nl>Log In</a>
        <a href="/signup" class=nl>Sign Up</a>
        <a href="/contact" class=nl>Contact</a>
      </div>
    </div>
  </div>
  <div class=margin>

  <h5>Assignment Details</h5>
  
<center>
			<div class=n>
				<h3></h3>
  <form method="POST">

    <label for="difficulty">Difficulty:</label>
    <input type="number" id="difficulty" name="difficulty" min = "1" max = "3" required><br>

    <label for="score">Score:</label>
    <input type="number" id="score" name="score" min = "1" step = "0.5" required><br>

    <label for="co1">CO1: (Enter 1 if mapped, zero otherwise)</label>
    <input type="number" id="co1" name="co1" min = "0" max = "1" required><br>

    <label for="co2">CO2:(Enter 1 if mapped, zero otherwise)</label>
    <input type="number" id="co2" name="co2" min = "0" max = "1" required><br>

    <label for="co3">CO3: (Enter 1 if mapped, zero otherwise)</label>
    <input type="number" id="co3" name="co3" min = "0" max = "1" required><br>

    <label for="co4">CO4: (Enter 1 if mapped, zero otherwise)</label>
    <input type="number" id="co4" name="co4" min = "0" max = "1" required><br>

    <label for="co5">CO5: (Enter 1 if mapped, zero otherwise)</label>
    <input type="number" id="co5" name="co5" min = "0" max = "1" required><br>

    <button>Submit</button>
  </form>

</body>
</html>
