<html>
	<head>
		<title>Evaluation choice</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
	</head>
	<body>
		<div class=nav>
			<div class=margin>
				<h1>Otocoat</h1>
				<div class=link>
					<a href="/index" class=nl>Home</a>
					<a href="/about" class=nl>About</a>
					<a href="/contact" class=nl>Contact</a>
					<a href = "/logout" class = nl>Logout</a>
				</div>
			</div>
		</div>
		<div class=margin>

		
		
			<h5>Choose class and subject:</h5><br><br>
			<center>
				<div class=m>
					<h3></h3>

			<form method = "post" autocomplete="off">
				<div>
					<label for = "another thing">Subject: </label>
					<select name = "subject" id = "another thing" placeholder = "Subject" required>
						{% for i in subjectlist %}
						<option value = "{{i[0]}}">{{i[0]}}</option>
						{% endfor %}
					</select>
				</div><br>
				<div>
					<label for = "something">Class: </label>
					<select name = "classes" id = "something" required>
						{% for j in classlist %}
						<option value = "{{j}}">{{j}}</option>
						{% endfor %}
					</select>
				</div><br>
				<button>Submit</button>
			</form>
		
			<p>Go back to <a href = "/dash"><button>dashboard</button></a></p>
			{% for message in get_flashed_messages() %}
		<h6>{{message}}</h6>
		{% endfor %}
		</div>
	</body>
</html>