<!DOCTYPE html>
<html>
<head>
    <title>End Sem</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='evaluation.css') }}">-->
</head>
<body>
    <h1>End Sem</h1>
    <form action="/submit" method="POST">
        <label for="theclass">Class:</label>
        <input type="text" id="theclass" name="theclass" required>
        
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        
        <h2>End Sem</h2>
        <table>
            <tr>
                <th>Question</th>
                <th>Mark</th>
                <th>Difficulty</th>
                <th>CO Map</th>
            </tr>
            {% for i in range(1, 21) %}
                <tr>
                    <td>Q{{ i }}</td>
                    <td><input type="number" name="EndSem-mark-{{ i }}" required></td>
                    <td><input type="number" name="EndSem-difficulty-{{ i }}" required></td>
                    <td><input type="number" name="EndSem-co-map-{{ i }}" required></td>
                </tr>
            {% endfor %}
        </table>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
