<html>

<head>
	<title>
		MINI | Contact
	</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	{% for message in get_flashed_messages() %}
	<h1>
		{{message}}
	</h1>
	{% endfor %}
	<div class=nav>
		<div class=margin>
			<h1>Otocoat</h1>
			<div class=link>
				<a href="/index" class=nl>Home</a>
				<a href="/about" class=nl>About</a>
				<a href = "dash" class = nl>Dashboard</a>
				<a href="/contact" class=nl>Contact</a>
				<a href = "logout" class = nl>Logout</a>
			</div>
		</div>
	</div>
	<div class=margin>
		<h5></h5>
		<center>
			<div class=c1>
				<h5 style=margin:0>MESSAGE US</h5>
				<form method = "POST">
				<input type="text" placeholder="Your Name" name = "name">
				<input type="email" placeholder="Your E-mail" name = "email" required>
				<input type="text" placeholder="Subject" name = "subject">
				<textarea placeholder="Your Message " name = "content" required></textarea>
				<br>
				<button>SEND</button>
				</form>
			</div>
			<div class=c2>
				<h5 style=margin:0>CONTACT INFO</h5>
				Otocoat team<br>
				S6 AD 2024<br>
				RSET<br>
				Kakkanad, Kochi<br>
				<br><br>
				<h4>Communicate with us</h4>
				Tel: 999999999, 010101010101<br>
				E-Mail:u2008028@rajagiri.edu.in<br>
				Website: www.rajagiri.edi.in<br><br>
				<a href="mailto:u2008028@rajagiri.edu.in"><button>Mail Us</button></a>
			</div>
	</div>
	</center>
	</div>
</body>

</html>