<html>

<head>
	<title>
		MINI | Home
	</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	{% for message in get_flashed_messages() %}
	<h1>
		{{message}}
	</h1>
	{% endfor %}
	<div class=nav>
		<div class=margin>
			<h1>OTOCOAT</h1>
			<div class=link>
				<a href="/index" class=nl>Home</a>
				<a href="/about" class=nl>About</a>
				<a href="/login" class=nl>Log In</a>
				<a href="/signup" class=nl>Sign Up</a>
				<a href="/contact" class=nl>Contact</a>
			</div>
		</div>
	</div>
	<div class=slider>
		<!--<img src="static/cover.jpg">-->
		<div class=slidtxt>
			<div class=margin>
				<h2>Otocoat</h2>
					<p>Otocoat is an online tool for calculation of Course Outcome Attainment Score in a way that is easy,
					quick and efficient.<br>This is available for use exclusively for Rajagiri School of Engineering
					and Technology faculty.<br></p>
				<a href="/about"><button>LEARN MORE</button>
			</div>
		</div>
	</div>
	<div class=margin>
		<div class=b>
			<h3>AN OVERVIEW OF OUR PROJECT</h3>
			<font color=black>
				<p>Calculation of Course Outcome Attainment score is currently a cumbersome process, and our
					project aims to make it a simple and quick one. Once a teacher logs in to the website using
				their Rajagiri email id, they can choose the class and the evaluation method for which marks are
			to be entered. The details of the students of that class will be made available along with the current
		marks, if entered. Once the marks are input by the teacher, the course outcome attainment score is calculated
	and displayed. Total course outcome calculation is also available to display. </p>
			</font>
			<a href="/about"><button>READ MORE</button></a>
		</div>
		<div class=c>
			<h3>LOG IN</h3>
			<form method="post">
				<input type="email" placeholder="Username" name="user" autocomplete = "off">
				<input type="password" placeholder="Password" name="user_pass">
				<button>login</button>
				<br>
			</form>
		</div>
		<div class=e>
			<div style=overflow:hidden;>
				<img src=02.jpg>
			</div>
			<center>
				<h4>Otocoat</h4>
				This is filler text.
		</div>
		<div class=e>
			<div style=overflow:hidden;>
				<img src=3.jpg>
			</div>
			<center>
				<h4>Otocoat</h4>
				This is filler text.
		</div>
		<div class=e>
			<div style=overflow:hidden;>
				<img src=4.jpg>
			</div>
			<center>
				<h4>Otocoat</h4>
				This is filler text.
		</div>
		<div class=e>
			<div style=overflow:hidden;>
				<img src=5.jpg>
			</div>
			<center>
				<h4>Otocoat</h4>
				This is filler text.
		</div>
	</div>
	<div class=f>
		<center>COPYRIGHT&copy;
			right recived from RSET
	</div>
</body>

</html>