
<html>
<head>
    <title>Internals details</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/style2.css">
</head>
<body>
    <div class=nav>
        <div class=margin>
            <h1>*NAME*</h1>
            <div class=link>
                <a href="/index" class=nl>Home</a>
                <a href="/about" class=nl>About</a>
                <a href="/contact" class=nl>Contact</a>
                <a href = "/logout" class = nl>Logout</a>
            </div>
        </div>
    </div>
    <div class=margin>

    <br><br><br><br>

    <form method="POST">
        <br><br>
        <h3>Internals details</h5>
        <table>
            <tr>
                <th>Question</th>
                <th>Difficulty</th>
                <th>CO Map</th>
            </tr>
            {% for i in range(1, 16) %}
                <tr>
                    <td>Q{{ i }}</td>
                    <td><input type="number" name="d{{ i }}" min = "1" max = "3" required></td>
                    <td><input type="number" name="co{{ i }}" min = "1" max = "5" required></td>
                </tr>
            {% endfor %}
        </table>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>