<html>

<head>
	<title>
		MINI | Login
	</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	
	<div class=nav>
		<div class=margin>
			<h1>*NAME*</h1>
			<div class=link>
				<a href="/index" class=nl>Home</a>
				<a href="/about" class=nl>About</a>
				<a href="/login" class=nl>Log In</a>
				<a href="/signup" class=nl>Sign Up</a>
				<a href="/contact" class=nl>Contact</a>
			</div>
		</div>
	</div>
	<div class=margin>
		<h5>Log In</h5>
		<center>
			<div class=j>
				<h3></h3>
				<form method="post">
					<input type="email" placeholder="Username" name="user" autocomplete = "off">
					<input type="password" placeholder="Password" name="user_pass">
					<button>login</button>
					<br>
				</form>
				<a href="/signup"><button>Sign Up</button></a>
				{% for message in get_flashed_messages() %}
	<h6>
		{{message}}
	</h6>
	{% endfor %}
			</div>
		</center>
	</div>
</body>

</html>