<!DOCTYPE html>
<html>
<head>
	<title>Internals results</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
</head>
<body>
	<div class=nav>
        <div class=margin>
            <h1>Otocoat</h1>
            <div class=link>
                <a href="/index" class=nl>Home</a>
                <a href="/about" class=nl>About</a>
                <a href="/contact" class=nl>Contact</a>
                <a href = "/logout" class = nl>Logout</a>
            </div>
        </div>
    </div>
	<div>
		<p>Scores obtained for each CO were:</p>
		<ul>
		{% for i in range(5) %}
			<li>CO{{i+1}} : {{colist[i]}}</li>
		{% endfor %}
		</ul>
	</div>
	<div>
		<a href = "/dash">Go back to dashboard</a>
	</div>
</body>
</html>