
<html>
	<head>
		<title>Student</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
	</head>
	<body>
		<div class=nav>
			<div class=margin>
				<h1>Otocoat</h1>
				<div class=link>
					<a href="/index" class=nl>Home</a>
					<a href="/about" class=nl>About</a>
					<a href="/contact" class=nl>Contact</a>
					<a href = "/logout" class = nl>Logout</a>
				</div>
			</div>
		</div>
		<div class=margin>

		
		
			<h5>Currently stored student details are:</h5>
			{% for i in thelist %}
			<p>{{i}}</p>
			{% endfor %}
		
		
			<h5>To insert more student details:</h5>
			<center>
				<div class=j>
					<h3></h3>
			<form method = "post" autocomplete="off">
				<div class = "TextBoxdiv">
					<label for = "uid">UID: </label>
					<input type = "text" name = "uid" placeholder = "UID" id = "uid">
				</div>
				<div class = "TextBoxdiv">
					<label for = "name">Name: </label>
					<input type = "text" name = "name" placeholder = "Name" id = "name">
				</div>
				<div class = "TextBoxdiv">
					<label for = "classes">Class: </label>
					<select id = "classes" name = "classy">
						{% for i in alist %}
						<option value = "{{i}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
				
				<button>Submit</button>
			</form>

		
		
			<p>Go back to <a href = "/dash"><button>Dashboard</button></a></p>
		{% for message in get_flashed_messages() %}
		<h6>{{message}}</h6>
		{% endfor %}
	</body>
</html>