<!DOCTYPE html>
<html>
	<head>
		<title>Subject</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
	</head>
	<body>
		{% for message in get_flashed_messages() %}
		<h1>{{message}}</h1>
		{% endfor %}
		<div>
			<h2>Currently stored subjects are:<br><br></h2>
			{% for i in subjectlist %}
			<p>{{i[0]}}, {{i[1]}}</p>
			{% endfor %}
		</div>
		<div>
			<p><br><br><br>To insert more class details:<br><br></p>
			<form method = "post" autocomplete = "off">
				<div class = "TextBoxdiv">
					<input type = "text" name = "name" placeholder = "Subject name">
				</div>
				<div>
					<select name = "theclass">
						{% for i in alist %}
						<option value = "{{i}}">{{i}}</option>
						{% endfor %}
				</div>
				<div>
					<input type = "submit" value = "SUBMIT" class="signupbt" name = "Submit">
				</div>
			</form>
		</div>
		<div>
			<p>Go back to <a href = "/dash">dashboard</a></p>
		</div>
	</body>
</html>